<div class="card-operation" id="<%= dom_id operation %>">
  <div class="card-info">
    <p>
      <strong><%= operation.name %></strong>
    </p>

    <p>
      <%= operation.created_at %>
    </p>
  </div>

  <p>
    <%= operation.amount %> $
  </p>

</div>
