<div class="card-operation" id="<%= dom_id operation %>">
  <div class="card-info">
    <p>
      <%= operation.name %>
    </p>

    <p>
      <%= operation.created_at %>
    </p>
  </div>

  <p class="price">
    <strong>$ <%= operation.amount %></strong>
  </p>

</div>
