<div class="header" >
  <h2><%= link_to "<", category_operations_path(@category), class: "splash-back" %></h2>
  <h1 class="page-title">New operation</h1>
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link-log" %>
</div>

<%= render "form", operation: @operation %>
